# Local Development
# NEXT_PUBLIC_API_URL=http://localhost:5000/api
# NEXT_PUBLIC_SOCKET_URL=http://localhost:5000

# Production (Replace with your Render backend URLs)
NEXT_PUBLIC_API_URL=https://team-crm-ln6n.onrender.com/api
NEXT_PUBLIC_SOCKET_URL=https://team-crm-ln6n.onrender.com/
